/* CSS for the Contact Us page */
body {
    background-image-contact: url('css/logo.png'); /* Background image for the body */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.contact-container {
    text-align: center;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.images-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image {
    margin: 10px;
}

img {
    max-width: 50%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p {
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
    color: #ccc;
}

/* Style the image grid */
.image-grid-contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
}
